{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mileja Yoga & Pilates{% endblock %}</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Heroicons CDN -->
    <script src="https://unpkg.com/heroicons@2.0.13/dist/outline/heroicons.js"></script>

    <!-- HTMX CDN -->
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>

    <!-- Alpine JS -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body class="bg-[#000300] text-white">
    <!-- Navbar -->
    <nav
      class="flex items-center justify-between p-6"
      x-data="{ account_open: false, account_clicked: false, auth_account_clicked:  false }"
    >
      <!-- Logo -->
      <div
        class="w-full text-lg md:text-3xl font-bold text-upper text-[#e46aeb] m-4"
      >
        <a href="/">MILEJA YOGA & PILATES.</a>
      </div>

      <!-- Menu for desktop -->
      <div class="hidden md:flex w-128 space-x-8 flex items-center">
        <a href="{% url 'courses' %}" class="hover:text-gray-300 w-16 py-4"
          >Kurse</a
        >
        <a href="https://www.mileja.ch" class="hover:text-gray-300 w-16 py-4"
          >Über uns</a
        >
        {% if user.is_authenticated %}
        <a
          @mouseenter="account_open = true"
          @mouseleave="account_open = false"
          href="#"
          class="hover:text-gray-300 text-white py-4"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-12"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
        </a>
        <div
          x-show="account_open"
          @mouseenter="account_open = true"
          @mouseleave="account_open = false"
          class="absolute right-8 top-20 w-48 bg-white rounded-md shadow-lg py-2 z-50"
          style="display: none"
        >
          <a
            href="{% url 'my-account' %}"
            class="block px-4 py-2 text-gray-700 text-center hover:bg-gray-100"
            >Mein Konto</a
          >
          <a
            href="{% url 'logout' %}"
            class="block px-4 py-2 text-gray-700 text-center hover:bg-gray-100"
            >Logout</a
          >
        </div>
        {% else %}
        <div class="flex justify-center space-x-2">
          <button
            class="hover:scale-105 hover:translate-y-1 transition ease-in-out delay-50 bg-white w-32 text-black mx-auto rounded-xl py-4"
          >
            <a href="{% url 'register' %}"> Registrieren </a>
          </button>
          <button
            class="hover:scale-105 hover:translate-y-1 transition ease-in-out delay-50 bg-[#00df9a] w-32 font-bold rounded-xl py-4"
          >
            <a href="{% url 'login' %}">Login</a>
          </button>
        </div>
        {% endif %}
      </div>

      <!-- mobile menu -->

      <div
        id="mobile-menu"
        class="fixed bottom-0 inset-x-0 bg-gradient-to-r from-blue-500 to-purple-500 py-2 shadow-lg border border-[#e46aeb] flex justify-between items-center md:hidden text-white"
        @click.outside="account_clicked = false, auth_account_clicked = false"
      >
        <!-- Login and Register button -->

        <div
          :class="account_clicked ? 'translate-y-0 opacity-100 pointer-events-auto' : 'translate-y-10 opacity-0 pointer-events-none'"
          class="absolute bottom-[100px] left-1/2 transform -translate-x-1/2 flex space-x-4 transition-all duration-300 ease-in-out"
        >
          <a href="{% url 'register' %}">
            <button
              class="bg-white rounded-xl text-md text-black font-bold p-4 flex-initial min-w-[150px]"
            >
              Registrieren
            </button>
          </a>
          <a href="{% url 'login' %}">
            <button
              class="bg-[#00df9a] rounded-xl text-md font-bold p-4 flex-initial min-w-[150px]"
            >
              Login
            </button>
          </a>
        </div>

        <!-- Logout and Account button -->

        <div
          :class="auth_account_clicked ? 'translate-y-0 opacity-100 pointer-events-auto' : 'translate-y-10 opacity-0 pointer-events-none'"
          class="absolute bottom-[100px] left-1/2 transform -translate-x-1/2 flex space-x-4 transition-all duration-300 ease-in-out"
        >
          <a href="{% url 'my-account' %}">
            <button
              class="bg-white rounded-xl text-black text-md font-bold p-4 flex-initial min-w-[150px]"
            >
              Mein Konto
            </button>
          </a>
          <a href="{% url 'logout' %}">
            <button
              class="bg-[#00df9a] rounded-xl text-md font-bold p-4 flex-initial min-w-[150px]"
            >
              Logout
            </button>
          </a>
        </div>

        <!-- Courses Icon -->
        <a
          href="{% url 'courses' %}"
          class="flex flex-col items-center w-1/3 text-center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776"
            />
          </svg>

          <span class="text-md">Kurse</span>
        </a>

        {% if user.is_authenticated %}
        <!-- Account Icon (Center) logged in -->
        <a
          @click="auth_account_clicked = true"
          href="#"
          class="flex flex-col items-center w-1/3 text-center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>

          <span class="text-md">Mein Konto</span>
        </a>
        {% else %}
        <!-- Account Icon (Center) not logged in -->
        <a
          @click="account_clicked = true"
          href="#"
          class="flex flex-col items-center w-1/3 text-center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>

          <span class="text-md">Mein Konto</span>
        </a>
        {% endif %}

        <!-- About Us Icon -->
        <a
          href="https://www.mileja.ch"
          class="flex flex-col items-center w-1/3 text-center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
            />
          </svg>

          <span class="text-md">Über uns</span>
        </a>
      </div>
    </nav>

    <!-- Main content -->
    <div class="container mx-auto p-6 mb-24 md:mb-0">
      {% block content %}
      <!-- Content goes here -->
      {% endblock %}
    </div>

    <!-- Alpine.js reinitialization script -->
    <script>
      document.addEventListener("htmx:afterSwap", function (evt) {
        // Reinitialize Alpine.js after an HTMX swap
        Alpine.initTree(evt.target);
      });
    </script>
  </body>
</html>
