{% extends 'core/base.html' %} {% block content %} {% load static %}
<div class="text-white">
  <div
    id="header"
    class="max-w-[800px] mt-[-96px] w-full h-40 md:h-64 mx-auto text-center flex flex-col justify-center"
  >
    <p class="text-xl md:text-3xl text-[#00df9a]">Bestätigung erfolgreich</p>
  </div>
  <div
    class="bg-[#00df9a] rounded-xl p-4 md:p-8 max-w-[620px] flex flex-col justfiy-center mx-auto"
  >
    <p class="md:text-xl mx-auto">
      Entdecke unser Kursangebot und schreibe Dir für die Yoga und
      Pilates-Klassen ein.
    </p>
    <a href="{% url 'courses' %}">
      <button class="bg-[#00df9a] p-4 rounded-xl">Kursangebot</button>
    </a>
  </div>
</div>
{% endblock %}
