{% extends 'core/base.html' %} {% block content %} {% load static %}

<div class="text-white">
  <!-- Header Section -->
  <div
    id="header"
    class="max-w-[800px] mt-[-96px] w-full h-64 mx-auto text-center flex flex-col justify-center"
  >
    <p class="text-3xl text-[#00df9a]">Mein Konto</p>
  </div>

  <!-- navigation buttons -->
  <div
    id="navigation-buttons"
    x-data="{ selected: '' }"
    hx-get="{% url 'my-account' %}?navigate=news"
    hx-trigger="load"
    hx-target="#my-account-content"
    hx-swap="innerHTML"
  >
    <div
      id="buttons"
      class="flex justify-between items-center max-w-[1200px] mx-auto mb-20"
    >
      <button
        hx-get="{% url 'my-account' %}?navigate=news"
        hx-target="#my-account-content"
        hx-swap="innerHTML"
        class="rounded-xl p-6 m-4 md:p-12 text-lg md:text-3xl flex border-2 border-[#e46aeb]"
        @click="selected = ''"
        :class="selected == '' ? 'bg-[#e46aeb] text-white' : 'bg-white text-[#e46aeb]'"
      >
        News
      </button>
      <button
        hx-get="{% url 'my-account' %}?navigate=credits"
        hx-target="#my-account-content"
        hx-swap="innerHTML"
        class="rounded-xl p-6 m-4 md:p-12 text-lg md:text-3xl flex border-2 border-[#e46aeb]"
        @click="selected = 'credits'"
        :class="selected == 'credits' ? 'bg-[#e46aeb] text-white' : 'bg-white text-[#e46aeb]'"
      >
        Credits
      </button>
      <button
        hx-get="{% url 'my-account' %}?navigate=bookings"
        hx-target="#my-account-content"
        hx-swap="innerHTML"
        class="rounded-xl p-6 m-4 md:p-12 text-lg md:text-3xl flex border-2 border-[#e46aeb]"
        @click="selected = 'bookings'"
        :class="selected == 'bookings' ? 'bg-[#e46aeb] text-white' : 'bg-white text-[#e46aeb]'"
      >
        Meine Kurse
      </button>
      <button
        hx-get="{% url 'my-account' %}?navigate=gtc"
        hx-target="#my-account-content"
        hx-swap="innerHTML"
        class="rounded-xl p-6 m-4 md:p-12 text-lg md:text-3xl flex border-2 border-[#e46aeb]"
        @click="selected = 'gtc'"
        :class="selected == 'gtc' ? 'bg-[#00df9a] text-white' : 'bg-white text-[#e46aeb]'"
      >
        AGBs
      </button>
    </div>
  </div>

  <div id="my-account-content"></div>
</div>

<section id="messages">{% include 'partials/toast.html' %}</section>

{% endblock %}
