{% extends 'core/base.html' %} {% block content %}
<div class="text-white">
  <div
    id="header"
    class="max-w-[800px] mt-[-96px] w-full h-40 md:h-64 mx-auto text-center flex flex-col justify-center"
  >
    <p class="text-xl md:text-3xl text-[#00df9a]">
      Passwort erfolgreich geändert
    </p>
  </div>

  <div
    class="bg-[#00df9a] rounded-xl p-4 md:p-8 max-w-[620px] flex flex-col justfiy-center mx-auto text-center"
  >
    <p class="text-lg md:text-xl">
      Dein Passwort wurde erfolgreich zurückgesetzt. Du kannst Dich jetzt mit
      dem neuen Passwort anmelden.
    </p>
    <a href="{% url 'login' %}">
      <button
        class="bg-white text-black p-4 rounded-xl mt-8 border-4 border-solid border-black"
      >
        Zur Anmeldung
      </button>
    </a>
  </div>
</div>
{% endblock %}
