{% extends 'core/base.html' %} {% block content %}
<div class="text-white">
  <div
    id="header"
    class="max-w-[800px] mt-[-96px] w-full h-40 md:h-64 mx-auto text-center flex flex-col justify-center"
  >
    <p class="text-xl md:text-3xl text-[#00df9a]">Passwort zurücksetzen</p>
  </div>

  <div
    class="bg-[#00df9a] rounded-xl p-4 md:p-8 max-w-[620px] flex flex-col justfiy-center mx-auto"
  >
    <form method="post" class="col-span-1">
      {% csrf_token %}
      <label for="email" class="block">E-Mail</label>
      {{ form.email }}
      <!-- Error for Username -->
      {% if form.email.errors %}
      <p class="text-red-500 text-xs mb-2">{{ form.email.errors.0 }}</p>
      {% endif %}

      <div class="flex flex-col items-center justify-center">
        <button
          class="bg-white text-black p-4 rounded-xl m-8 border-4 border-solid border-black"
        >
          Passwort zurücksetzen
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
