{% extends 'core/base.html' %} {% block content %}
<div class="text-white">
  <div
    id="header"
    class="max-w-[800px] mt-[-96px] w-full h-40 md:h-64 mx-auto text-center flex flex-col justify-center"
  >
    <p class="text-xl md:text-3xl text-[#00df9a]">Email gesendet</p>
  </div>

  <div
    class="bg-[#00df9a] rounded-xl p-4 md:p-8 max-w-[620px] flex flex-col justfiy-center mx-auto text-center"
  >
    <p class="text-lg md:text-xl">
      Eine E-Mail mit Anweisungen zum Zurücksetzen des Passworts wurde gesendet.
      Bitte überprüfe Dein Postfach.
    </p>
  </div>
</div>
{% endblock %}
