{% load i18n %}
<html>
  <body>
    <p>Hallo {{ user.get_username }},</p>

    <p>
      Du hast eine Anfrage zum Zurücksetzen deines Passworts auf der Mileja Yoga
      & Pilates Webseite gestellt.
    </p>

    <p>Klicke bitte auf den folgenden Link, um dein Passwort zurückzusetzen:</p>

    <p>
      <a
        href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
      >
        Passwort zurücksetzen
      </a>
    </p>

    <p>
      Falls du kein neues Passwort angefordert hast, ignoriere bitte diese
      Nachricht.
    </p>

    <p>Viele Grüße,<br />Das Mileja Yoga & Pilates Team</p>
  </body>
</html>
