{% load static %}

<!-- Header Section -->
<div
  id="header"
  class="max-w-[800px] mt-[-64px] w-full h-40 md:h-64 mx-auto text-center flex flex-col justify-center"
>
  <p class="text-xl md:text-3xl text-[#00df9a]">
    Allgemeine Geschäftsbedingungen
  </p>
</div>

<div class="text-white text-justify">
  <!-- GTC content -->
  <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-xl font-semibold text-gray-700 mb-4">1. Geltungsbereich</h2>
    <p class="text-gray-600 mb-4">
      Diese Allgemeinen Geschäftsbedingungen (AGB) regeln die Rechtsbeziehungen
      zwischen der Hebammenpraxis Mileja GmbH, nachfolgend „Anbieter“ genannt,
      und den Nutzerinnen und Nutzern der Web-App zur Verwaltung von Yoga- und
      Pilateskursen während und nach der Schwangerschaft. Diese AGB basieren auf
      dem Schweizer Recht.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">
      2. Vertragsabschluss
    </h2>
    <p class="text-gray-600 mb-4">
      Mit der Registrierung auf der Web-App und der Buchung von Kursen oder dem
      Erwerb von Credits erklärt sich die Nutzerin bzw. der Nutzer mit diesen
      AGB einverstanden. Der Vertrag kommt mit der Bestätigung der Kursbuchung
      durch den Anbieter zustande.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">3. Leistungen</h2>
    <p class="text-gray-600 mb-4">
      Der Anbieter bietet Yoga- und Pilateskurse während und nach der
      Schwangerschaft an. Die Leistungen können online über die Web-App gebucht
      werden. Die Kursbeschreibungen und -zeiten sind auf der Web-App
      ersichtlich. Der Anbieter behält sich das Recht vor, das Kursangebot
      jederzeit zu ändern.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">
      4. Zahlungsbedingungen
    </h2>
    <p class="text-gray-600 mb-4">
      Die Zahlung für gebuchte Kurse oder Credits erfolgt online über die
      Web-App. Akzeptierte Zahlungsmethoden sind Banküberweisung,
      QR-Einzahlungsschein. Eine Rückerstattung ist nur bei Kursausfall durch
      den Anbieter möglich.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">
      5. Kursbuchung und -stornierung
    </h2>
    <p class="text-gray-600 mb-4">
      Kurse können über die Web-App gebucht werden. Eine Stornierung seitens der
      Nutzerin bzw. des Nutzers muss mindestens 24 Stunden vor Kursbeginn
      erfolgen, ansonsten wird der Kurs als besucht gewertet und die Credits
      werden abgezogen. Bei einer Stornierung seitens des Anbieters werden die
      Credits zurückerstattet.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">
      6. Haftungsausschluss
    </h2>
    <p class="text-gray-600 mb-4">
      Die Teilnahme an den Kursen erfolgt auf eigene Verantwortung. Der Anbieter
      haftet nicht für Verletzungen oder Schäden, die während der Kurse oder
      durch die Nutzung der Web-App entstehen, es sei denn, diese wurden durch
      grobe Fahrlässigkeit oder Vorsatz des Anbieters verursacht.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">7. Datenschutz</h2>
    <p class="text-gray-600 mb-4">
      Der Anbieter verpflichtet sich, die persönlichen Daten der Nutzerinnen und
      Nutzer gemäß den geltenden datenschutzrechtlichen Bestimmungen der Schweiz
      zu schützen. Weitere Informationen finden sich in der separaten
      Datenschutzerklärung auf der Web-App.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">
      8. Anwendbares Recht und Gerichtsstand
    </h2>
    <p class="text-gray-600 mb-4">
      Diese AGB unterstehen dem schweizerischen Recht. Der ausschließliche
      Gerichtsstand für alle Streitigkeiten im Zusammenhang mit diesen AGB ist
      Basel, Schweiz.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">
      9. Änderungen der AGB
    </h2>
    <p class="text-gray-600 mb-4">
      Der Anbieter behält sich das Recht vor, diese AGB jederzeit zu ändern. Die
      Nutzerinnen und Nutzer werden über Änderungen per E-Mail oder beim
      nächsten Login in die Web-App informiert.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mb-4">
      10. Salvatorische Klausel
    </h2>
    <p class="text-gray-600 mb-4">
      Sollten einzelne Bestimmungen dieser AGB unwirksam sein oder werden,
      bleibt die Wirksamkeit der übrigen Bestimmungen unberührt. An die Stelle
      der unwirksamen Bestimmung tritt eine Regelung, die dem wirtschaftlichen
      Zweck der unwirksamen Bestimmung am nächsten kommt.
    </p>
  </div>

  <section id="messages">{% include 'partials/toast.html' %}</section>
</div>
