{% load static %}

<div class="text-white" x-data="{ purchaseCredits: false }">
  <!-- Credits content -->
  <div
    id="credits"
    class="flex justify-between bg-white rounded-lg p-8 items-center min-w-[90%] md:min-w-[70%]"
  >
    <p class="text-2xl text-black">Dein Credits Guthaben</p>
    <div
      class="flex items-center justify-center bg-[#e46aeb] px-8 py-4 text-3xl rounded-lg"
    >
      {{ credits }}
    </div>
  </div>
  <div class="flex items-center justify-center m-8">
    <button
      class="bg-[#00df9a] rounded-xl p-8 mt-16 text-xl"
      @click="purchaseCredits = true"
    >
      Jetzt kaufen
    </button>
  </div>

  {% if purchase_transactions %}
  <div
    id="purchase-transactions"
    class="flex justify-center items-center mt-24"
  >
    <table
      class="table-auto border-collapse w-full max-w-4xl bg-white rounded-xl shadow-lg overflow-hidden"
    >
      <thead class="bg-[#e46aeb] text-white">
        <tr>
          <th class="px-6 py-4 text-left">Bestelldatum</th>
          <th class="px-6 py-4 text-center">Anzahl Credits</th>
          <th class="px-6 py-4 text-center">Status</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 text-black">
        {% for pt in purchase_transactions %}
        <tr class="hover:bg-gray-100">
          <td class="px-6 py-4">{{ pt.date }}</td>
          <td class="px-6 py-4 text-center">{{ pt.number }}</td>
          <td class="px-6 py-4 text-center">
            <span
              class="inline-block px-3 py-1 text-sm font-semibold rounded-full text-white {% if pt.status == 'pending' %} bg-red-500 {% else %} bg-green-500 {% endif %}"
            >
              {{ pt.get_status_display }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  <div
    id="purchase"
    x-show="purchaseCredits"
    @click.outside="purchaseCredits = false"
  >
    {% include 'partials/purchase_credits.html' %}
  </div>

  <section id="messages">{% include 'partials/toast.html' %}</section>
</div>
