{% load static %}
<div
  id="pruchase-credits"
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center justify-center bg-gray-100 min-w-[90%] md:min-w-[70%] p-16 rounded-lg"
  x-data="{ selected: ''}"
>
  <p class="text-2xl font-bold text-[#00df9a] mb-8">Wähle die Anzahl...</p>
  <div class="flex items-center justify-between">
    <button
      class="border-2 border-black rounded-xl p-8 m-8 text-black text-2xl font-bold transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-105"
      :class="selected == 1 ? 'border-8 border-[#FFD700]' : ''"
      @click="selected=1"
    >
      1 Credit
      <p class="text-sm text-center font-normal pt-4">CHF 25 pro Credit</p>
    </button>
    <button
      class="bg-[#e46aeb] rounded-xl p-8 m-8 text-black text-2xl font-bold transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-105"
      :class="selected == 5 ? 'border-8 border-[#FFD700]' : ''"
      @click="selected=5"
    >
      5 Credits
      <p class="text-sm text-center font-normal pt-4">CHF 24 pro Credit</p>
    </button>
    <button
      class="bg-gradient-to-r from-blue-500 to-purple-500 rounded-xl p-8 m-8 text-black text-2xl font-bold transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-105"
      :class="selected == 10 ? 'border-8 border-[#FFD700]' : ''"
      @click="selected=10"
    >
      10 Credits
      <p class="text-sm text-center font-normal pt-4">CHF 22.50 pro Credit</p>
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center text-black my-8"
    x-data="{ accepted: false }"
    x-show="selected !== ''"
  >
    <div class="flex justify-center items-center">
      <p>
        Ich akzeptiere die
        <a
          href="{% url 'my-account' %}?navigate=gtc"
          target="_blank"
          class="font-bold underline"
          >AGBs</a
        >
      </p>
      <input
        type="checkbox"
        class="ml-4 transform scale-150"
        @click="accepted = !accepted"
      />
    </div>

    <!-- button for 1 credit -->
    <button
      x-show="selected == 1"
      @click="purchaseCredits=false"
      class="bg-[#00df9a] rounded-xl p-4 m-8 text-white text-xl"
      :disabled="!accepted"
      :class="!accepted ? 'opacity-50 cursor-not-allowed' : ''"
      hx-get="{% url 'confirm-purchase' %}?number=1"
      hx-target="#transaction-history"
      hx-swap="innerHTML"
    >
      Bestätigen
    </button>

    <!-- button for 5 credits -->
    <button
      x-show="selected == 5"
      @click="purchaseCredits=false"
      class="bg-[#00df9a] rounded-xl p-4 m-8 text-white text-xl"
      :disabled="!accepted"
      :class="!accepted ? 'opacity-50 cursor-not-allowed' : ''"
      hx-get="{% url 'confirm-purchase' %}?number=5"
      hx-target="#transaction-history"
      hx-swap="innerHTML"
    >
      Bestätigen
    </button>

    <!-- button for 10 credits -->
    <button
      x-show="selected == 10"
      @click="purchaseCredits=false"
      class="bg-[#00df9a] rounded-xl p-4 m-8 text-white text-xl"
      :disabled="!accepted"
      :class="!accepted ? 'opacity-50 cursor-not-allowed' : ''"
      hx-get="{% url 'confirm-purchase' %}?number=10"
      hx-target="#transaction-history"
      hx-swap="innerHTML"
    >
      Bestätigen
    </button>
  </div>
  <button
    @click="purchaseCredits=false"
    type="button"
    class="bg-white text-gray-400 hover:text-gray-900 rounded-lg p-2.5 mt-16 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
    data-dismiss-target="#toast-success"
    aria-label="Close"
  >
    <span class="sr-only bg-[#e46aeb]">Close</span>
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
      />
    </svg>
  </button>
</div>
